<template>
    <div 
        class="note" 
        ref="note" 
        @click="$emit('seek', timecode)"
        >
        <img :src="thumbnail" />
        <div class="meta">
            <span class="index">{{ index+1 }}</span>
            <span class="timecode">
                {{ screentime }}
            </span>
            <button class="remove" @click.capture="$emit('remove', index)">x</button>
        </div>
        <p class="content">{{content}}</p>
    </div>
</template>
<script setup>

import {ref, computed, onMounted} from 'vue'


const props = defineProps(['index', 'timecode', 'content', 'thumbnail'])
const emits = defineEmits(['remove', 'edit', 'seek'])
const note = ref(null)

onMounted(()=>{
note.value.scrollIntoView({ behavior: "smooth", block: "start" })
})

const screentime = computed(()=>{
    let m = Math.trunc(props.timecode / 60)
    let s = Math.round(props.timecode % 60).toString().padStart(2, '0')
    let time =`${m}:${s}`
    let h = Math.round(props.timecode / 3600)
    if (h >= 1) {
        time = `${h}:${m.toString().padStart(2, '0')}:${s}`
        }
    return time     
    })

</script>
<style>



.note:hover {
    cursor: pointer;
}

.note img {
    width: 100%;
    height: auto;
}

.note .remove {
    color: black;
    border: none;
    background: none;
    display: inline;
    cursor: pointer;
    font-size: 1.25rem;
}

.note .meta {
    font-family: monospace;
    font-weight: regular;
    font-size: 1rem;
    opacity: 0.5;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
}

.note p {
    margin: 0;
    padding: 8px;
    padding-top: 0;
}

@media print {


 .note {
        display: inline-block;
        max-width: 320px;
    }


 .note p {
    font-size: 14px;
    padding: 0;
 }

 .note .meta {
     font-size: 12px;
    padding: 0;
 }



    .note img {
        max-width: 320px;
        object-fit: contain;
    }

    .note .remove {
        display: none;
        visibility: collapse;
    }
}



</style>
