<template>
        <div class="drop" @drop.prevent="dragFile" @dragover.prevent>
            <span v-if="loading" class="loading">
                Loading...
            </span>
            <span v-else>
                Drag file here
            </span>
        </div>
</template>

<script setup>

    import {ref, computed} from 'vue'
    import { useTitle } from '@vueuse/core'
    const title = useTitle()

    const emit = defineEmits(['upload', 'file', 'currentTime'])
    const loading = ref(false)

    const dragFile = (e) => {
        let file = e.dataTransfer.files[0]
        let filePath = (window.URL || window.webkitURL).createObjectURL(file)
        emit('file', filePath)
        title.value = 'Anno - ' + file.name
    }

</script>

<style scoped>

.drop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>
