<template>

<div class="video-notes">
    <div class="notes">
        <VideoNote 
            v-for="(note, index) in sortedNotes"
            :key="(note.timecode, index)"
            :id="note.timecode"
            :class="{current: current(note.timecode)}"
            :timecode="note.timecode"
            :thumbnail="note.thumbnail"
            :content="note.content"
            :index="index"
            @remove="remove"
            @edit="edit"
            @seek="seek"
        />
    </div>
    <form class="input">
        <textarea v-model="note"></textarea>
        <input type="submit" @click.prevent="addNote" value="Add note">
    </form>
</div>

</template>
<script setup>

    import VideoNote from '@/components/VideoNote.vue'
    import {ref, computed} from 'vue'
    import {utils} from '@/composables/utils.js'
    const {base64ToBlob} = utils()


    const props = defineProps(['timecode', 'video'])
    const emit = defineEmits(['seek'])
    const notes = ref([])
    const note = ref("")

    const addNote = async () => {
        let fileToRead = await snapshot(props.video)
        let filePath = (window.URL || window.webkitURL).createObjectURL(fileToRead)

        notes.value.push({
            timecode: props.timecode,
            content: note.value,
            thumbnail: filePath
        })
        note.value = "" 
    }

    const remove = (index) => notes.value.splice(index, 1)

    const edit = () => console.log('editing note') 

    const seek = (t) => {
        emit('seek', t)
    }

    const sortedNotes = computed(()=> notes.value.sort((a, b)=>a.timecode>b.timecode))

    const snapshot = async (source) => {
        let canvas = document.createElement('canvas')
        let width = source.tagName =='IMG' ? source.naturalWidth : source.videoWidth
        let height = source.tagName == 'IMG' ? source.naturalHeight : source.videoHeight
        canvas.width = 640
        canvas.height = 360
        let ctx = canvas.getContext('2d')
        ctx.drawImage(source, 0, 0, canvas.width, canvas.height)
        let file = await base64ToBlob(canvas.toDataURL('image/jpeg'), 'snapshot')
        return file
    }

const current = (t) => {
        // 2 second of margin to highlight current note
        return Math.abs(props.timecode - t) < 2
    }

</script>
<style scoped>
.video-notes {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 8px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input textarea {
    display: block;
    height: 10ch;
}

.notes {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    padding-bottom: 42px;
}

.current {
    background-color: #eee;
}



@media print {

    .input {
    visibility: collapse;
    display: none;
    }

    .video-notes {
    padding: 16px;
    display: block;
    width: 100%;
    height: 100%;
    overflow: unset;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    }

.notes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    height: 100%;
    overflow: unset;
    padding-bottom: 0;

}

    
    .current {
        background: #eee;
    }
}
</style>
