<script setup>
import VideoLoader from '@/components/VideoLoader.vue'
import VideoNotes from '@/components/VideoNotes.vue'
import {ref, onBeforeMount, onBeforeUnmount} from 'vue'

const loaded = ref(false)
const video = ref(null)
const timecode = ref(0) 


const setVideo = (filePath) => {
    video.value.src = filePath
    video.value.setAttribute('controls', true)
    loaded.value = true
}

const update = (e) => timecode.value = e.target.currentTime

const seek = (e) => video.value.currentTime = e


// Prevent accidental navigation
const preventNav = (e) => {
    console.log('Sure to leave?')
    e.preventDefault()
    e.returnValue = ""
}

onBeforeMount(()=>{
    window.addEventListener("beforeunload", preventNav)
})

onBeforeUnmount(()=>{
    window.addEventListener("beforeunload", preventNav)
})

</script>

<template>

<div class="container">
    <div class="video-player" >
        <VideoLoader @file="setVideo" />
        <video ref="video" @timeupdate="update" :class="{interactive: loaded}"></video>
    </div>
    <VideoNotes :timecode="timecode" :video="video" @seek="seek"/>

</div>

</template>

<style scoped>
.container {
    display: flex;
    align-items: stretch;
    gap: 16px;
    height: 100vh;
    padding: 16px;
}

.container > * {
    flex: 1;
    background-color: #eee;
}

.video-player {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.interactive {
    pointer-events: all;
}

@media print {
    .container {
        width: auto;
        height: auto;
        display: block;
    }

    .container > * {
        border: none;
        background: none;
    }


    .video-player {
        visibility: collapse;
    }




}


</style>
